pacific-dashboard-n8n-workflow.json
{
  "name": "Pacific Dashboard Sync",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 30 } ] }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetQuotes($cursor: String) { quotes(first: 100, after: $cursor) { nodes { id quoteNumber quoteStatus createdAt sentAt transitionedAt amounts { total } client { name } salesperson { id name { full } } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null } }) }}",
        "options": {}
      },
      "id": "quotes-page",
      "name": "Quotes Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 120]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.qStarted) { sd.qAll = []; sd.qStarted = true; sd.qPages = 0; sd.qCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.qCursor }]; }\nconst conn = (resp && resp.data && resp.data.quotes) ? resp.data.quotes : null;\nif (conn) {\n  sd.qAll = sd.qAll.concat(conn.nodes || []);\n  sd.qPages = (sd.qPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.qPages < 100) { sd.qCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.qStarted = false;\nreturn [{ done: true, count: (sd.qAll || []).length }];"
      },
      "id": "quotes-collect",
      "name": "Quotes Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "quotes-more",
      "name": "Quotes More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 120]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetRequests($cursor: String) { requests(first: 100, after: $cursor) { nodes { id createdAt client { name } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null } }) }}",
        "options": {}
      },
      "id": "requests-page",
      "name": "Requests Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 400]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.rStarted) { sd.rAll = []; sd.rStarted = true; sd.rPages = 0; sd.rCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.rCursor }]; }\nconst conn = (resp && resp.data && resp.data.requests) ? resp.data.requests : null;\nif (conn) {\n  sd.rAll = sd.rAll.concat(conn.nodes || []);\n  sd.rPages = (sd.rPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.rPages < 100) { sd.rCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.rStarted = false;\nreturn [{ done: true, count: (sd.rAll || []).length }];"
      },
      "id": "requests-collect",
      "name": "Requests Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "requests-more",
      "name": "Requests More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetClients($cursor: String, $filter: ClientFilterAttributes) { clients(first: 100, after: $cursor, filter: $filter) { nodes { id firstName lastName createdAt } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null, filter: { createdAt: { after: $now.format('yyyy') + \"-01-01T00:00:00Z\" } } } }) }}",
        "options": {}
      },
      "id": "clients-page",
      "name": "Clients Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 680]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.cStarted) { sd.cAll = []; sd.cStarted = true; sd.cPages = 0; sd.cCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.cCursor }]; }\nconst conn = (resp && resp.data && resp.data.clients) ? resp.data.clients : null;\nif (conn) {\n  sd.cAll = sd.cAll.concat(conn.nodes || []);\n  sd.cPages = (sd.cPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.cPages < 100) { sd.cCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.cStarted = false;\nreturn [{ done: true, count: (sd.cAll || []).length }];"
      },
      "id": "clients-collect",
      "name": "Clients Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 680]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "clients-more",
      "name": "Clients More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 680]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetInvoices($cursor: String) { invoices(first: 100, after: $cursor) { nodes { id invoiceNumber createdAt issuedDate dueDate invoiceStatus amounts { total invoiceBalance } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null } }) }}",
        "options": {}
      },
      "id": "invoices-page",
      "name": "Invoices Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 940]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.iStarted) { sd.iAll = []; sd.iStarted = true; sd.iPages = 0; sd.iCursor = null; sd.iThrottle = 0; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { sd.iThrottle = (sd.iThrottle || 0) + 1; if (sd.iThrottle > 60) { sd.iStarted = false; return [{ done: true, count: (sd.iAll || []).length }]; } await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.iCursor }]; }\nconst conn = (resp && resp.data && resp.data.invoices) ? resp.data.invoices : null;\nif (conn) {\n  sd.iThrottle = 0;\n  sd.iAll = sd.iAll.concat(conn.nodes || []);\n  sd.iPages = (sd.iPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.iPages < 400) { sd.iCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.iStarted = false;\nreturn [{ done: true, count: (sd.iAll || []).length }];"
      },
      "id": "invoices-collect",
      "name": "Invoices Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 940]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "invoices-more",
      "name": "Invoices More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 940]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetJobs($cursor: String, $filter: JobFilterAttributes) { jobs(first: 50, after: $cursor, filter: $filter) { nodes { id jobNumber jobType jobStatus createdAt completedAt total jobCosting { totalRevenue } customFields { __typename ... on CustomFieldDropdown { label valueDropdown } } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null, filter: { jobType: \"ONE_OFF\", createdAt: { after: \"2026-01-01T00:00:00Z\" } } } }) }}",
        "options": {}
      },
      "id": "jobs-page",
      "name": "Jobs Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 1200]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.jStarted) { sd.jAll = []; sd.jStarted = true; sd.jPages = 0; sd.jCursor = null; sd.jThrottle = 0; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { sd.jThrottle = (sd.jThrottle || 0) + 1; if (sd.jThrottle > 60) { sd.jStarted = false; return [{ done: true, count: (sd.jAll || []).length }]; } await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.jCursor }]; }\nconst conn = (resp && resp.data && resp.data.jobs) ? resp.data.jobs : null;\nif (conn) {\n  sd.jThrottle = 0;\n  sd.jAll = sd.jAll.concat(conn.nodes || []);\n  sd.jPages = (sd.jPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.jPages < 200) { sd.jCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.jStarted = false;\nreturn [{ done: true, count: (sd.jAll || []).length }];"
      },
      "id": "jobs-collect",
      "name": "Jobs Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 1200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "jobs-more",
      "name": "Jobs More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 1200]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetRecurring($cursor: String, $filter: JobFilterAttributes) { jobs(first: 10, after: $cursor, filter: $filter) { nodes { id jobNumber jobType visits(first: 20) { nodes { id isComplete completedAt lineItems(first: 10) { nodes { totalPrice } } } } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null, filter: { jobType: \"RECURRING\" } } }) }}",
        "options": {}
      },
      "id": "recurring-page",
      "name": "Recurring Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 1480]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.recStarted) { sd.recAll = []; sd.recStarted = true; sd.recPages = 0; sd.recCursor = null; sd.recThrottle = 0; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { sd.recThrottle = (sd.recThrottle || 0) + 1; if (sd.recThrottle > 60) { sd.recStarted = false; return [{ done: true, count: (sd.recAll || []).length }]; } await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.recCursor }]; }\nconst conn = (resp && resp.data && resp.data.jobs) ? resp.data.jobs : null;\nif (conn) {\n  sd.recThrottle = 0;\n  sd.recAll = sd.recAll.concat(conn.nodes || []);\n  sd.recPages = (sd.recPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.recPages < 200) { sd.recCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.recStarted = false;\nreturn [{ done: true, count: (sd.recAll || []).length }];"
      },
      "id": "recurring-collect",
      "name": "Recurring Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 1480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "recurring-more",
      "name": "Recurring More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 1480]
    },

    {
      "parameters": { "numberInputs": 6 },
      "id": "merge-all",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [760, 600]
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// Dashboard payload from Jobber (workflow static data).\n// Monthly (top-level) + Weekly views, plus per-department\n// metrics (Installations / Service) from one-off jobs.\n// ============================================================\nconst sd = $getWorkflowStaticData('global');\n\nfunction dedupe(arr, idKey) {\n  const seen = new Set();\n  const out = [];\n  for (const x of (arr || [])) {\n    const k = x && x[idKey];\n    if (k == null) { out.push(x); continue; }\n    if (seen.has(k)) continue;\n    seen.add(k); out.push(x);\n  }\n  return out;\n}\n\nconst quotes = dedupe(sd.qAll || [], 'id');\nconst requests = dedupe(sd.rAll || [], 'id');\nconst clients = dedupe(sd.cAll || [], 'id');\nconst invoices = dedupe(sd.iAll || [], 'id');\nconst jobs = dedupe(sd.jAll || [], 'id');\nconst recurring = dedupe(sd.recAll || [], 'id');\nconst DEPT_CUTOFF = new Date('2026-06-16T00:00:00Z').getTime(); // Install/Service clean-start (brief: no backfill before Jun 16)\n\nconst now = new Date();\nconst year = now.getFullYear();\nconst MONTH_NAMES = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst months = MONTH_NAMES.slice();\n\n// Vancouver-local Y/M/D for a date string.\nfunction vparts(dateStr) {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  if (isNaN(d.getTime())) return null;\n  const p = new Intl.DateTimeFormat('en-US', { timeZone: 'America/Vancouver', year: 'numeric', month: 'numeric', day: 'numeric' }).formatToParts(d);\n  return { y: Number(p.find(x => x.type === 'year').value), m: Number(p.find(x => x.type === 'month').value), d: Number(p.find(x => x.type === 'day').value) };\n}\n\nfunction monthOf(dateStr) {\n  const p = vparts(dateStr);\n  if (!p || p.y !== year) return null;\n  return MONTH_NAMES[p.m - 1];\n}\n\n// WEEK helpers — weeks start Monday; label = that Monday's \"MMM D\".\nfunction dayNum(y, m, d) { return Math.floor(Date.UTC(y, m - 1, d) / 86400000); }\nfunction mondayDn(y, m, d) {\n  const dow = new Date(Date.UTC(y, m - 1, d)).getUTCDay();\n  const off = dow === 0 ? 6 : dow - 1;\n  return dayNum(y, m, d) - off;\n}\nfunction labelOfDn(dn) {\n  const dt = new Date(dn * 86400000);\n  return MONTH_NAMES[dt.getUTCMonth()] + ' ' + dt.getUTCDate();\n}\nfunction weekOf(dateStr) {\n  const p = vparts(dateStr);\n  if (!p || p.y !== year) return null;\n  return labelOfDn(mondayDn(p.y, p.m, p.d));\n}\nconst startDn = mondayDn(year, 1, 1);\nconst tp = vparts(now.toISOString());\nconst endDn = mondayDn(year, 12, 31);\nconst weeks = [];\nfor (let dn = startDn; dn <= endDn; dn += 7) weeks.push(labelOfDn(dn));\nconst currentMonth = MONTH_NAMES[tp.m - 1];\nconst currentWeek = labelOfDn(mondayDn(tp.y, tp.m, tp.d));\n\nfunction personOf(quote) {\n  return (quote.salesperson && quote.salesperson.name && quote.salesperson.name.full || '').trim() || 'Unassigned';\n}\n\n// Read the \"Type of Job\" dropdown custom field on a job (\"Install\" / \"Service\" / \"\" ...).\nfunction jobTypeOf(job) {\n  const cfs = (job && job.customFields) || [];\n  for (const cf of cfs) {\n    if (cf && cf.label === 'Type of Job') return (cf.valueDropdown || '').trim();\n  }\n  return '';\n}\n\nfunction buildView(labelOf, labels) {\n  const has = {};\n  labels.forEach(l => { has[l] = true; });\n  function empty() { const o = {}; labels.forEach(l => { o[l] = 0; }); return o; }\n  function ensure(obj, p) { if (!obj[p]) obj[p] = empty(); return obj[p]; }\n\n  const revenueProduced = empty();\n  const invoicesIssued = empty();\n  const invoiceCount = empty();\n  for (const inv of invoices) { const k = labelOf(inv.issuedDate); if (k && has[k]) { const a = inv.amounts || {}; const t = parseFloat(a.total) || 0; invoicesIssued[k] += t; invoiceCount[k] += 1; revenueProduced[k] += t - (parseFloat(a.invoiceBalance) || 0); } }\n\n  const cashCollected = empty();\n\n  const newLeads = empty();\n  for (const c of clients) { const k = labelOf(c.createdAt); if (k && has[k]) newLeads[k] += 1; }\n\n  const newRequests = empty();\n  for (const r of requests) { const k = labelOf(r.createdAt); if (k && has[k]) newRequests[k] += 1; }\n\n  const quotesSentTotal = empty();\n  const quotesSentByPerson = {};\n  const quotesConvertedTotal = empty();\n  const quotesConvertedByPerson = {};\n  const convertedDollarsTotal = empty();\n  const convertedDollarsByPerson = {};\n\n  for (const q of quotes) {\n    const status = (q.quoteStatus || '').toUpperCase();\n    const person = personOf(q);\n    const amount = parseFloat(q.amounts && q.amounts.total) || 0;\n    const sk = labelOf(q.sentAt);\n    if (sk && has[sk]) { quotesSentTotal[sk] += 1; ensure(quotesSentByPerson, person)[sk] += 1; }\n    if (status === 'CONVERTED') {\n      const ck = labelOf(q.transitionedAt);\n      if (ck && has[ck]) {\n        quotesConvertedTotal[ck] += 1;\n        ensure(quotesConvertedByPerson, person)[ck] += 1;\n        convertedDollarsTotal[ck] += amount;\n        ensure(convertedDollarsByPerson, person)[ck] += amount;\n      }\n    }\n  }\n\n  function round2(map) { for (const k of Object.keys(map)) map[k] = Math.round(map[k] * 100) / 100; return map; }\n  round2(revenueProduced); round2(invoicesIssued); round2(cashCollected); round2(convertedDollarsTotal);\n\n  const allPersons = Array.from(new Set(Object.keys(quotesSentByPerson).concat(Object.keys(quotesConvertedByPerson))));\n  for (const p of allPersons) { ensure(quotesSentByPerson, p); ensure(quotesConvertedByPerson, p); ensure(convertedDollarsByPerson, p); }\n  for (const p of allPersons) round2(convertedDollarsByPerson[p]);\n\n  function rate(conv, sent) { const o = {}; for (const k of labels) o[k] = (sent[k] || 0) > 0 ? Math.round((conv[k] / sent[k]) * 1000) / 10 : 0; return o; }\n  const conversionRateTotal = rate(quotesConvertedTotal, quotesSentTotal);\n  const conversionRateByPerson = {};\n  for (const p of allPersons) conversionRateByPerson[p] = rate(quotesConvertedByPerson[p], quotesSentByPerson[p]);\n\n  function avg(dollars, conv) { const o = {}; for (const k of labels) o[k] = (conv[k] || 0) > 0 ? Math.round((dollars[k] / conv[k]) * 100) / 100 : 0; return o; }\n  const avgSaleTotal = avg(convertedDollarsTotal, quotesConvertedTotal);\n  const avgSaleByPerson = {};\n  for (const p of allPersons) avgSaleByPerson[p] = avg(convertedDollarsByPerson[p], quotesConvertedByPerson[p]);\n\n  // One-off job operations: New jobs (count), Job revenue (sum of totals), Avg job size — all one-off jobs by createdAt (full year).\n  const newJobs = empty();\n  const jobRevenue = empty();\n  const avgJobSize = empty();\n  for (const j of jobs) {\n    if ((j.jobType || '').toUpperCase() !== 'ONE_OFF') continue;\n    const k = labelOf(j.createdAt);\n    if (!k || !has[k]) continue;\n    newJobs[k] += 1;\n    jobRevenue[k] += parseFloat(j.jobCosting && j.jobCosting.totalRevenue) || 0; // Jobber's \"Job revenue\" (job-costing), not the \"Total revenue\" (job.total)\n  }\n  round2(jobRevenue);\n  for (const k of labels) avgJobSize[k] = (newJobs[k] || 0) > 0 ? Math.round((jobRevenue[k] / newJobs[k]) * 100) / 100 : 0;\n\n  // Departments (one-off jobs): Installations + Service. Revenue + jobs completed by completedAt; avg ticket = revenue / jobs.\n  const deptDefs = [{ key: 'installations', type: 'Install' }, { key: 'service', type: 'Service' }];\n  const departments = {};\n  for (const d of deptDefs) departments[d.key] = { revenue: empty(), jobsCompleted: empty(), avgTicket: empty() };\n  for (const j of jobs) {\n    if ((j.jobType || '').toUpperCase() !== 'ONE_OFF') continue;\n    if (!j.createdAt || new Date(j.createdAt).getTime() < DEPT_CUTOFF) continue; // clean-start: only jobs created from Jun 16\n    const t = jobTypeOf(j);\n    const def = deptDefs.find((x) => x.type === t);\n    if (!def) continue;\n    const k = labelOf(j.completedAt); // count/bucket completed jobs\n    if (!k || !has[k]) continue;\n    departments[def.key].revenue[k] += parseFloat(j.total) || 0;\n    departments[def.key].jobsCompleted[k] += 1;\n  }\n  for (const d of deptDefs) {\n    round2(departments[d.key].revenue);\n    const rev = departments[d.key].revenue, cnt = departments[d.key].jobsCompleted, at = departments[d.key].avgTicket;\n    for (const k of labels) at[k] = (cnt[k] || 0) > 0 ? Math.round((rev[k] / cnt[k]) * 100) / 100 : 0;\n  }\n\n  // Maintenance (recurring jobs): each COMPLETED visit = one job completed; revenue = sum of that visit's line items, bucketed by completedAt.\n  { const maint = { revenue: empty(), jobsCompleted: empty(), avgTicket: empty() };\n  for (const j of recurring) {\n    const vs = (j.visits && j.visits.nodes) || [];\n    for (const vis of vs) {\n      if (!vis || !vis.isComplete) continue;\n      const k = labelOf(vis.completedAt);\n      if (!k || !has[k]) continue;\n      const lis = (vis.lineItems && vis.lineItems.nodes) || [];\n      let rv = 0; for (const li of lis) rv += parseFloat(li.totalPrice) || 0;\n      maint.revenue[k] += rv; maint.jobsCompleted[k] += 1;\n    }\n  }\n  round2(maint.revenue);\n  for (const k of labels) maint.avgTicket[k] = (maint.jobsCompleted[k] || 0) > 0 ? Math.round((maint.revenue[k] / maint.jobsCompleted[k]) * 100) / 100 : 0;\n  departments.maintenance = maint; }\n\n  return {\n    revenueProduced, invoicesIssued, invoiceCount, cashCollected, newLeads, newRequests,\n    newJobs, jobRevenue, avgJobSize,\n    quotesSent: { total: quotesSentTotal, byPerson: quotesSentByPerson },\n    quotesConverted: { total: quotesConvertedTotal, byPerson: quotesConvertedByPerson },\n    conversionRate: { total: conversionRateTotal, byPerson: conversionRateByPerson },\n    convertedDollars: { total: convertedDollarsTotal, byPerson: convertedDollarsByPerson },\n    avgSale: { total: avgSaleTotal, byPerson: avgSaleByPerson },\n    departments\n  };\n}\n\nconst monthly = buildView(monthOf, months);\nconst weekly = buildView(weekOf, weeks);\n\n// Accounts Receivable — matches Jobber's Aged Receivables report: OVERDUE invoices only (dueDate < today), aged by due date, using outstanding Balance.\nconst nowMs = now.getTime();\nlet arTotal = 0, arOver30 = 0;\nfor (const inv of invoices) {\n  if ((inv.invoiceStatus || '') !== 'past_due') continue; // Jobber's Aged Receivables counts past_due invoices only\n  const bal = parseFloat(inv.amounts && inv.amounts.invoiceBalance) || 0;\n  if (bal <= 0) continue;\n  arTotal += bal;\n  const dueMs = inv.dueDate ? new Date(inv.dueDate).getTime() : 0;\n  if (dueMs && (nowMs - dueMs) > 30 * 86400000) arOver30 += bal; // late by more than 30 days\n}\narTotal = Math.round(arTotal * 100) / 100; arOver30 = Math.round(arOver30 * 100) / 100;\nconst receivables = { total: arTotal, over30: arOver30, over30Pct: arTotal > 0 ? Math.round((arOver30 / arTotal) * 1000) / 10 : 0 };\n\nreturn [Object.assign({\n  months, weeks, weekly, currentMonth, currentWeek, receivables,\n  _debug: { quotes: quotes.length, requests: requests.length, clients: clients.length, invoices: invoices.length, jobs: jobs.length, recurring: recurring.length, weeks: weeks.length }\n}, monthly)];\n"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://pacific-dashboard-omega.vercel.app/api/sync",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-sync-secret", "value": "pacific_sync_2026" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-to-dashboard",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 600]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "Quotes Page", "type": "main", "index": 0 },
        { "node": "Requests Page", "type": "main", "index": 0 },
        { "node": "Clients Page", "type": "main", "index": 0 },
        { "node": "Invoices Page", "type": "main", "index": 0 },
        { "node": "Jobs Page", "type": "main", "index": 0 },
        { "node": "Recurring Page", "type": "main", "index": 0 }
      ]]
    },

    "Quotes Page": { "main": [[{ "node": "Quotes Collect", "type": "main", "index": 0 }]] },
    "Quotes Collect": { "main": [[{ "node": "Quotes More?", "type": "main", "index": 0 }]] },
    "Quotes More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 0 }],
      [{ "node": "Quotes Page", "type": "main", "index": 0 }]
    ] },

    "Requests Page": { "main": [[{ "node": "Requests Collect", "type": "main", "index": 0 }]] },
    "Requests Collect": { "main": [[{ "node": "Requests More?", "type": "main", "index": 0 }]] },
    "Requests More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 1 }],
      [{ "node": "Requests Page", "type": "main", "index": 0 }]
    ] },

    "Clients Page": { "main": [[{ "node": "Clients Collect", "type": "main", "index": 0 }]] },
    "Clients Collect": { "main": [[{ "node": "Clients More?", "type": "main", "index": 0 }]] },
    "Clients More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 2 }],
      [{ "node": "Clients Page", "type": "main", "index": 0 }]
    ] },

    "Invoices Page": { "main": [[{ "node": "Invoices Collect", "type": "main", "index": 0 }]] },
    "Invoices Collect": { "main": [[{ "node": "Invoices More?", "type": "main", "index": 0 }]] },
    "Invoices More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 3 }],
      [{ "node": "Invoices Page", "type": "main", "index": 0 }]
    ] },

    "Jobs Page": { "main": [[{ "node": "Jobs Collect", "type": "main", "index": 0 }]] },
    "Jobs Collect": { "main": [[{ "node": "Jobs More?", "type": "main", "index": 0 }]] },
    "Jobs More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 4 }],
      [{ "node": "Jobs Page", "type": "main", "index": 0 }]
    ] },

    "Recurring Page": { "main": [[{ "node": "Recurring Collect", "type": "main", "index": 0 }]] },
    "Recurring Collect": { "main": [[{ "node": "Recurring More?", "type": "main", "index": 0 }]] },
    "Recurring More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 5 }],
      [{ "node": "Recurring Page", "type": "main", "index": 0 }]
    ] },

    "Merge All": { "main": [[{ "node": "Process Data", "type": "main", "index": 0 }]] },
    "Process Data": { "main": [[{ "node": "POST to Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "pacific-dashboard" }]
}
