pacific-dashboard-n8n-workflow.json
{
  "name": "Pacific Dashboard Sync",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetQuotes($cursor: String) { quotes(first: 100, after: $cursor) { nodes { id quoteNumber quoteStatus createdAt sentAt transitionedAt amounts { total } client { name } salesperson { id name { full } } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null } }) }}",
        "options": {}
      },
      "id": "quotes-page",
      "name": "Quotes Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 120]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.qStarted) { sd.qAll = []; sd.qStarted = true; sd.qPages = 0; sd.qCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.qCursor }]; }\nconst conn = (resp && resp.data && resp.data.quotes) ? resp.data.quotes : null;\nif (conn) {\n  sd.qAll = sd.qAll.concat(conn.nodes || []);\n  sd.qPages = (sd.qPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.qPages < 100) { sd.qCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.qStarted = false;\nreturn [{ done: true, count: (sd.qAll || []).length }];"
      },
      "id": "quotes-collect",
      "name": "Quotes Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "quotes-more",
      "name": "Quotes More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 120]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetRequests($cursor: String) { requests(first: 100, after: $cursor) { nodes { id createdAt client { name } } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null } }) }}",
        "options": {}
      },
      "id": "requests-page",
      "name": "Requests Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 400]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.rStarted) { sd.rAll = []; sd.rStarted = true; sd.rPages = 0; sd.rCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.rCursor }]; }\nconst conn = (resp && resp.data && resp.data.requests) ? resp.data.requests : null;\nif (conn) {\n  sd.rAll = sd.rAll.concat(conn.nodes || []);\n  sd.rPages = (sd.rPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.rPages < 100) { sd.rCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.rStarted = false;\nreturn [{ done: true, count: (sd.rAll || []).length }];"
      },
      "id": "requests-collect",
      "name": "Requests Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "requests-more",
      "name": "Requests More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getjobber.com/api/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-JOBBER-GRAPHQL-VERSION", "value": "2025-04-16" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: \"query GetClients($cursor: String, $filter: ClientFilterAttributes) { clients(first: 100, after: $cursor, filter: $filter) { nodes { id firstName lastName createdAt } pageInfo { endCursor hasNextPage } } }\", variables: { cursor: $json.cursor || null, filter: { createdAt: { after: $now.format('yyyy') + \"-01-01T00:00:00Z\" } } } }) }}",
        "options": {}
      },
      "id": "clients-page",
      "name": "Clients Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 680]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\nif (!sd.cStarted) { sd.cAll = []; sd.cStarted = true; sd.cPages = 0; sd.cCursor = null; }\nconst throttled = resp && resp.errors && resp.errors.some(e => e && e.extensions && e.extensions.code === 'THROTTLED');\nif (throttled) { await new Promise(r => setTimeout(r, 2500)); return [{ done: false, cursor: sd.cCursor }]; }\nconst conn = (resp && resp.data && resp.data.clients) ? resp.data.clients : null;\nif (conn) {\n  sd.cAll = sd.cAll.concat(conn.nodes || []);\n  sd.cPages = (sd.cPages || 0) + 1;\n  const pi = conn.pageInfo || {};\n  if (pi.hasNextPage && pi.endCursor && sd.cPages < 100) { sd.cCursor = pi.endCursor; return [{ done: false, cursor: pi.endCursor }]; }\n}\nsd.cStarted = false;\nreturn [{ done: true, count: (sd.cAll || []).length }];"
      },
      "id": "clients-collect",
      "name": "Clients Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 680]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "leftValue": "={{ $json.done }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        }
      },
      "id": "clients-more",
      "name": "Clients More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 680]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://quickbooks.api.intuit.com/v3/company/9130357054630796/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=SELECT * FROM Invoice WHERE TxnDate >= '{{ $now.format('yyyy') }}-01-01' AND TxnDate <= '{{ $now.format('yyyy') }}-12-31' MAXRESULTS 1000" },
            { "name": "minorversion", "value": "75" }
          ]
        },
        "options": {}
      },
      "id": "qb-invoices",
      "name": "QB Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 940],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://quickbooks.api.intuit.com/v3/company/9130357054630796/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/json" } ] },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=SELECT * FROM Payment WHERE TxnDate >= '{{ $now.format('yyyy') }}-01-01' AND TxnDate <= '{{ $now.format('yyyy') }}-12-31' MAXRESULTS 1000" },
            { "name": "minorversion", "value": "75" }
          ]
        },
        "options": {}
      },
      "id": "qb-payments",
      "name": "QB Payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 1120],
      "onError": "continueRegularOutput"
    },

    {
      "parameters": { "numberInputs": 5 },
      "id": "merge-all",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [760, 600]
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build the dashboard payload. Jobber records come from the\n// pagination loops (workflow static data). QB comes from the\n// QB nodes (may be empty until production keys are connected).\n// ============================================================\nconst sd = $getWorkflowStaticData('global');\n\nfunction dedupe(arr, idKey) {\n  const seen = new Set();\n  const out = [];\n  for (const x of (arr || [])) {\n    const k = x && x[idKey];\n    if (k == null) { out.push(x); continue; }\n    if (seen.has(k)) continue;\n    seen.add(k); out.push(x);\n  }\n  return out;\n}\n\nfunction flattenQB(nodeName, entity) {\n  let out = [];\n  try {\n    for (const item of $(nodeName).all()) {\n      const rows = item.json && item.json.QueryResponse && item.json.QueryResponse[entity] || [];\n      out = out.concat(rows);\n    }\n  } catch (e) { return []; }\n  return out;\n}\n\nconst quotes = dedupe(sd.qAll || [], 'id');\nconst requests = dedupe(sd.rAll || [], 'id');\nconst clients = dedupe(sd.cAll || [], 'id');\nconst qbInvoices = dedupe(flattenQB('QB Invoices', 'Invoice'), 'Id');\nconst qbPayments = dedupe(flattenQB('QB Payments', 'Payment'), 'Id');\n\nconst now = new Date();\nconst year = now.getFullYear();\nconst MONTH_NAMES = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst months = MONTH_NAMES.slice(0, now.getMonth() + 1);\n\nfunction monthOf(dateStr) {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  if (isNaN(d.getTime())) return null;\n  // Bucket by the company's local time (Victoria BC) to match Jobber's reports.\n  const parts = new Intl.DateTimeFormat('en-US', { timeZone: 'America/Vancouver', year: 'numeric', month: 'numeric' }).formatToParts(d);\n  const y = Number(parts.find(p => p.type === 'year').value);\n  const m = Number(parts.find(p => p.type === 'month').value);\n  if (y !== year) return null;\n  return MONTH_NAMES[m - 1];\n}\nfunction emptyMonths() { const o = {}; months.forEach(m => { o[m] = 0; }); return o; }\n\n// Use each quote's real salesperson name (matches Jobber's Salesperson Performance report person-for-person).\nfunction personOf(quote) {\n  return (quote.salesperson && quote.salesperson.name && quote.salesperson.name.full || '').trim() || 'Unassigned';\n}\nfunction ensurePerson(obj, person) { if (!obj[person]) obj[person] = emptyMonths(); return obj[person]; }\n\nconst revenueProduced = emptyMonths();\nfor (const inv of qbInvoices) { const mo = monthOf(inv.TxnDate); if (mo && months.includes(mo)) revenueProduced[mo] += parseFloat(inv.TotalAmt) || 0; }\n\nconst cashCollected = emptyMonths();\nfor (const p of qbPayments) { const mo = monthOf(p.TxnDate); if (mo && months.includes(mo)) cashCollected[mo] += parseFloat(p.TotalAmt) || 0; }\n\nconst newLeads = emptyMonths();\nfor (const c of clients) { const mo = monthOf(c.createdAt); if (mo && months.includes(mo)) newLeads[mo] += 1; }\n\nconst newRequests = emptyMonths();\nfor (const r of requests) { const mo = monthOf(r.createdAt); if (mo && months.includes(mo)) newRequests[mo] += 1; }\n\nconst quotesSentTotal = emptyMonths();\nconst quotesSentByPerson = {};\nconst quotesConvertedTotal = emptyMonths();\nconst quotesConvertedByPerson = {};\nconst convertedDollarsTotal = emptyMonths();\nconst convertedDollarsByPerson = {};\nconst SENT = new Set(['AWAITING_RESPONSE','CHANGES_REQUESTED','APPROVED','CONVERTED','ARCHIVED']);\n\nfor (const q of quotes) {\n  const status = (q.quoteStatus || '').toUpperCase();\n  const person = personOf(q);\n  const amount = parseFloat(q.amounts && q.amounts.total) || 0;\n  // Quotes Sent = \"Sent within\" the month (by sentAt) — matches Jobber's Quotes report (Sent within filter).\n  const sentMo = monthOf(q.sentAt);\n  if (sentMo && months.includes(sentMo)) { quotesSentTotal[sentMo] += 1; ensurePerson(quotesSentByPerson, person)[sentMo] += 1; }\n  // Quotes Converted + $ = \"Converted within\" the month (by transitionedAt) — matches Jobber's Quotes report (Converted within filter).\n  if (status === 'CONVERTED') {\n    const convMo = monthOf(q.transitionedAt);\n    if (convMo && months.includes(convMo)) {\n      quotesConvertedTotal[convMo] += 1;\n      ensurePerson(quotesConvertedByPerson, person)[convMo] += 1;\n      convertedDollarsTotal[convMo] += amount;\n      ensurePerson(convertedDollarsByPerson, person)[convMo] += amount;\n    }\n  }\n}\n\nfunction round2(map) { for (const k of Object.keys(map)) map[k] = Math.round(map[k] * 100) / 100; return map; }\nround2(revenueProduced); round2(cashCollected); round2(convertedDollarsTotal);\n\n// Unify the salesperson set across sent + converted so every rep exists in all maps.\nconst allPersons = Array.from(new Set(Object.keys(quotesSentByPerson).concat(Object.keys(quotesConvertedByPerson))));\nfor (const p of allPersons) { ensurePerson(quotesSentByPerson, p); ensurePerson(quotesConvertedByPerson, p); ensurePerson(convertedDollarsByPerson, p); }\nfor (const p of allPersons) round2(convertedDollarsByPerson[p]);\n\nfunction rate(conv, sent) { const o = {}; for (const m of months) o[m] = (sent[m] || 0) > 0 ? Math.round((conv[m] / sent[m]) * 1000) / 10 : 0; return o; }\nconst conversionRateTotal = rate(quotesConvertedTotal, quotesSentTotal);\nconst conversionRateByPerson = {};\nfor (const p of allPersons) conversionRateByPerson[p] = rate(quotesConvertedByPerson[p], quotesSentByPerson[p]);\n\nfunction avg(dollars, conv) { const o = {}; for (const m of months) o[m] = (conv[m] || 0) > 0 ? Math.round((dollars[m] / conv[m]) * 100) / 100 : 0; return o; }\nconst avgSaleTotal = avg(convertedDollarsTotal, quotesConvertedTotal);\nconst avgSaleByPerson = {};\nfor (const p of allPersons) avgSaleByPerson[p] = avg(convertedDollarsByPerson[p], quotesConvertedByPerson[p]);\n\nreturn [{\n  months,\n  revenueProduced, cashCollected, newLeads, newRequests,\n  quotesSent: { total: quotesSentTotal, byPerson: quotesSentByPerson },\n  quotesConverted: { total: quotesConvertedTotal, byPerson: quotesConvertedByPerson },\n  conversionRate: { total: conversionRateTotal, byPerson: conversionRateByPerson },\n  convertedDollars: { total: convertedDollarsTotal, byPerson: convertedDollarsByPerson },\n  avgSale: { total: avgSaleTotal, byPerson: avgSaleByPerson },\n  _debug: { quotes: quotes.length, requests: requests.length, clients: clients.length, invoices: qbInvoices.length, payments: qbPayments.length }\n}];"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://pacific-dashboard-omega.vercel.app/api/sync",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-sync-secret", "value": "pacific_sync_2026" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-to-dashboard",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 600]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "Quotes Page", "type": "main", "index": 0 },
        { "node": "Requests Page", "type": "main", "index": 0 },
        { "node": "Clients Page", "type": "main", "index": 0 },
        { "node": "QB Invoices", "type": "main", "index": 0 },
        { "node": "QB Payments", "type": "main", "index": 0 }
      ]]
    },

    "Quotes Page": { "main": [[{ "node": "Quotes Collect", "type": "main", "index": 0 }]] },
    "Quotes Collect": { "main": [[{ "node": "Quotes More?", "type": "main", "index": 0 }]] },
    "Quotes More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 0 }],
      [{ "node": "Quotes Page", "type": "main", "index": 0 }]
    ] },

    "Requests Page": { "main": [[{ "node": "Requests Collect", "type": "main", "index": 0 }]] },
    "Requests Collect": { "main": [[{ "node": "Requests More?", "type": "main", "index": 0 }]] },
    "Requests More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 1 }],
      [{ "node": "Requests Page", "type": "main", "index": 0 }]
    ] },

    "Clients Page": { "main": [[{ "node": "Clients Collect", "type": "main", "index": 0 }]] },
    "Clients Collect": { "main": [[{ "node": "Clients More?", "type": "main", "index": 0 }]] },
    "Clients More?": { "main": [
      [{ "node": "Merge All", "type": "main", "index": 2 }],
      [{ "node": "Clients Page", "type": "main", "index": 0 }]
    ] },

    "QB Invoices": { "main": [[{ "node": "Merge All", "type": "main", "index": 3 }]] },
    "QB Payments": { "main": [[{ "node": "Merge All", "type": "main", "index": 4 }]] },

    "Merge All": { "main": [[{ "node": "Process Data", "type": "main", "index": 0 }]] },
    "Process Data": { "main": [[{ "node": "POST to Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "pacific-dashboard" }]
}
